#app {
    max-width: 850px;
    margin: 0 auto;
}

nav {
    padding: 20px 0 20px 0;
}

body {
    overflow-y: scroll;
}

button[disabled] {
    cursor: not-allowed;
}

.cssc1 {
    width: 100px;
}

.cssc2 {
    width: 300px;
}

.cssc3 {
    width: 140px;
}

.cssc4 {
    width: 100px;
}